<html>
    <head>
        <title>Chilan blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Chilan Blog</a></h1>
        </div>

        <div>
            <p>published: 26.02.2018, 12:14</p>
            <h2><a href="">My home</a></h2>
            <p>Ngo nho pho nho nha toi o do</p>
        </div>

        <div>
            <p>published: 14.06.2018, 12:14</p>
            <h2><a href="">My dogs</a></h2>
            <p>Box dep trai lai lang</p>
        </div>
    </body>
</html>
